@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: .9em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
}
.container{
    text-align: center;
    padding: .8em 1.2em;
    width: 100%;
    
}

.phone {
    padding-right: .8em;
    text-align: right;
}
.logo {
    width: 130px;
    
    
}

.hide-mobile {
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
}

.menu{
    background-color: rgb(246, 246, 246);
}
.ham {
    display: flex;
    width: 25px;
    text-align: right;
    

}

h1 {
    color: white;
    font-size: calc(1em + 1vw);
}

h2 {
    margin: 0;
}

.subhead {
    color: white;
}

.banner {
    background-color: lightgray;
   padding: 1.2em;

}
.callout {
    width: 50%;
    background-color: rgba(2, 83, 126, 0.9);;
    padding: 1.2em;
    margin: auto;
    text-align: center;

    
}

.about-header {
    color: rgba(2, 83, 126, 0.9);
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
}
.about {
    margin-left: 15%;
    margin-right: 15%;
}

.cta {
    background: #00CC00;
    width: calc(100% - 5em);
    display: block;
    color: white;
    border-radius: 20px;
    padding: .5em;
    text-decoration: none;
    font-size: 1.5em;
    margin: 3% auto 7%;
    position: relative;

}

.footer-container{
    width: 100%;
    background: #3D444A;
    color: #fff;
    padding: 3em 0;
}

